#python
*.pyc
*~__pycache__

#database
db.sqlite3

#Env
.Env
myEnvironment/
venv/

#static folder in project
static/

#Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

#visual studio

.vscode/
.history/
*.code-workspace



